.container {
    width: 970px !important;
    min-width: 970px !important;
}

html, 
body {
    width: 970px !important;
}

.hidden{display:none;visibility:hidden}
.visible-phone{display:none!important}
.visible-tablet{display:none!important}
.hidden-desktop{display:none!important}
.visible-desktop{display:inherit!important}
      
.print_hidden{
    display:none;
}
    
.container {
    width: auto;
}

@media screen {

}

.print_hidden{
    display:none;
}

.favorite {
    display:none;
}

* {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}  

img {
    max-width: none !important;
}

.widget-agent .media-right,
.widget-agent .media-left {
    display: block;
    float: none;
    text-align: center;
}

a:after {content:" " !important; }
.widget {
   margin-bottom: 0;
}

.col-md-9 {
    width: 75%;
}

.col-md-3 {
    width: 25%;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}